@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('~/src/assets/Fonts/Iransans.ttf');
}

html, body, a {
    font-family: "IRANSans", Arial, Helvetica, sans-serif !important;
}

.v-application {
    font-family: "IRANSans", Arial, Helvetica, sans-serif !important;
}

.v-application .title {
    font-family: "IRANSans", Arial, Helvetica, sans-serif !important;
}

.v-application .headline {
    font-family: "IRANSans", Arial, Helvetica, sans-serif !important;
}

.v-application [class*='text-'] {
    font-family: "IRANSans", Arial, Helvetica, sans-serif !important;
}

.v-application [class*='subtitle-'] {
    font-family: "IRANSans", Arial, Helvetica, sans-serif !important;
}